certifi==2017.11.5
chardet==3.0.4
Django==1.8.6
django-appconf==1.0.2
django-extensions==1.5.9
django-mailgun==0.9.1
django-maintenancemode==0.11.1
django-simple-captcha==0.4.6
gunicorn==19.7.1
idna==2.6
IPy==0.83
Pillow==3.0.0
requests==2.18.4
six==1.11.0
urllib3==1.22
