certifi==2019.3.9
chardet==3.0.4
Django<2.0
django-appconf==1.0.3
django-extensions==2.1.6
django-mailgun==0.9.1
django-maintenancemode==0.11.3
django-simple-captcha==0.5.11
gunicorn==19.9.0
idna==2.8
IPy==1.0
Pillow==6.0.0
requests==2.21.0
six==1.12.0
whitenoise==4.1.2
